{% assign settings = site.data.settings %}
<div class="footer">
</div><!--/footer-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<!--     <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script> -->
    <!-- <script src="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
     --><script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.12/slideout.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
    {{page.extra_script_tags | raw }}
    <script>
      var slideout = new Slideout({
    'panel': document.getElementById('panel'),
    'menu': document.getElementById('menu'),
    'side': 'right',
    'padding': 334,
    'tolerance': 70

  });
  document.querySelector('.toggle-button').addEventListener('click', function() {
  slideout.toggle();
});
      $(document).ready(function(){

    {{page.extra_scripts | raw }}


        });
    </script>
