<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.data.settings.name}} ~ {{page.title}}</title>
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.5.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    {{page.extra_head_styles_and_scripts}}
    <link rel="stylesheet" href="{{site.url}}/new.css">
    <script src="https://use.fontawesome.com/00d641a760.js"></script>
  </head>