<div class="logo">
    <a href="{{site.url}}">
    <img src="{{site.data.settings.logo2_image_path}}" alt="">
    </a>
</div><!--/logo-->
<div class="navigation">
    <ul class="menu vertical">
        <li><a href="updates/"><i class="fa fa-list-alt"></i> News &amp; Updates</a></li>
        <li><a href="camps.html"><i class="fa fa-calendar-o"></i> Upcoming Camps</a></li>
        <li><a href="about-us.html"><i class="fa fa-question-circle"></i> About Us</a></li>
        <li><a href="volunteer.html"><i class="fa fa-users"></i> Volunteer</a></li>
        <li><a href="donate.html"><i class="fa fa-cc-paypal"></i> Donate</a></li>
    </ul><!--/menu-->
</div><!--/navigation-->
<div class="get-connected">
    <div class="connected-header">
        <h3>Get Connected</h3>
        <ul class="social-menu">
            {% if  site.data.settings.facebook %}
            <li><a href="{{site.data.settings.facebook}}"><i class="fa fa-facebook-square"></i></a></li>
            {% endif %}
            {% if  site.data.settings.twitter %}
            <li><a href="{{site.data.settings.twitter}}"><i class="fa fa-twitter-square"></i></a></li>
            {% endif %}
            {% if  site.data.settings.instagram %}
            <li><a href="{{site.data.settings.instagram}}"><i class="fa fa-instagram"></i></a></li>
            {% endif %}
            {% if  site.data.settings.youtube %}
            <li><a href="{{site.data.settings.youtube}}"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
        </ul><!--/social-menu-->
    </div><!--/connected-header-->
    <div class="details">
        <p class="email">{{site.data.settings.email}}</p>
        <p class="address">{{site.data.settings.address}}{% if site.data.settings.address2 %}<br> {{site.data.settings.address2}}
{% endif %}<br>
        {{site.data.settings.City}}, {{site.data.settings.State}} {{site.data.settings.Zip}}</p>
        <p class="phone">{{site.data.settings.phone}}</p>
    </div><!--/details-->
    <div class="links">
        <a href="#"><img src="{{site.data.settings.project_south_africa_image}}" alt=""></a>
        <a href="#"><img src="{{site.data.settings.mission_board_image}}" alt=""></a>
    </div><!--/links-->
</div><!--/get-connected-->
