<ul class="socialbar">
    <li><a href="tel:{{site.data.settings.phone }}"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li><a href="mailto: {{site.data.settings.church_email}}"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li><a href="{{site.data.settings.facebook}}"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span></a></li>
  </ul><!--/socialbar-->
    <div class="menu">

  <a href="{{site.url}}" class="logo"><img src="{{site.data.settings.logo_image_path}}" alt=""></a>
  <div class="right">
  <a href="donate.html" class="button"> <i class="fa fa-paypal"></i> Donate</a>
  <a href="#" class="toggle-button"><i class="fa fa-bars"></i> MENU</a>
  </div><!--/right--> 
  </div><!--/menu-->