<!doctype html>
<html class="no-js" lang="en">
  {% include head.html%}
  <body class="post page">
  <nav id="menu">
      {% include menu.html %}
  </nav>
  <main id="panel">
  <div class="header" style="background: url({{page.header_image}}) no-repeat top left; background-size: cover;">
  {% include navigation.html %}

  <p class="breadcrumbs"><a href="{{site.url}}">Home</a> <i class="fa fa-arrow-circle-right"></i>  {{page.title}}</p><!--/breadcrumbs-->
  </div><!--/header-->
<div class="page-content">
<div class="main-text">
  {% if  page.featured_image%}
  <div class="fi">
      <img src="{{page.featured_image}}" alt="">
  </div><!--/-fi-wrapper-->
  {% endif %}
  <div class="post-header">
  <h1 class="title">{{page.title}}</h1>
  {% if  page.summary %}
  <p class="details">{{page.summary}}</p>
  {% endif %}
  </div><!--/header-->
  <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


          {{ content }}
</div><!--/main-text-->
</div><!--/page-content-->
{% include photos.html %}
{% include newsletter.html %}

      {% include footer.html%}
  </main>
  </body>
</html>
